1. Write a program to reverse a string.

In [ ]:
#Create a string
p="DataScience Course"
#reverse the string
p[::-1]

'esruoC ecneicSataD'

2. Check if a string is a palindrome.

In [1]:
#input the string 
s=input("Enter the String ")

#check if forward and backwards reverse are same

if s==s[: : -1]:
    print("Its a Palindrome")
    
else:
    print("Not Palindrome")

Enter the String  datascience

Not Palindrome

3. Convert a string to uppercase.

In [ ]:
#declare the string variable
r='ryoba'
r.upper()

4. Convert a string to lowercase.

In [ ]:
r='NYAIsaRa'

r.lower()

5. Count the number of vowels in a string.

In [ ]:
#Input the senetence 
Data_string=input("Enter the sentence ")

vowel=0

for j in Data_string:
    if(j=='a' or j=='e' or j=='i' or j=='o' or j=='u'):
        vowel=vowel+1
print("The number of vowels are: ",vowel)

6. Count the number of consonants in a string.

In [ ]:
Data=input("Enter the sentence ")

consonants = 0

for j in Data:
    if Data not in "aeiouAEIOU":
        consonants+=1
        
print("The number of consonants are: ",consonants)

7. Remove all whitespaces from a string.

In [ ]:
#enter the string data with spaces 
string=input("Enter the string ")

#remove the space
newstring=string.replace(" ","")

print("The New string is ",newstring)

8. Find the length of a string without using the `len()` function.

In [ ]:
#enter the inputs string

y=input("Enter the string ")
 
l=len(y)

print("The Length of a string is ",l)

9. Check if a string contains a specific word.

In [ ]:
#we can use find method
x="The Data Science in Pwskills"

x.find("Data")

10. Replace a word in a string with another word.

In [ ]:
#use replace function 
y= "Good Morning"
z = y.replace("Good", "Great")
 
print(z)

11. Count the occurrences of a word in a string.

In [ ]:
w=" Programming"

#use count function to count the number of occurance

print("Number occuence of m :",w.count('m'))

12. Find the first occurrence of a word in a string.

In [ ]:
w="programming"

w[0]

13. Find the last occurrence of a word in a string.

In [ ]:
w="programming"
w[-1]

14. Split a string into a list of words.

In [ ]:
p="The pwskills, Ineuron"
#use split function 
p.split(",")

15. Join a list of words into a string.

In [ ]:
x='prog'

h="ramming"

print(x + h)

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
x='Java'


h="Mongodb"

print(x +" "+ h)
print(x +"_"+ h)

17. Check if a string starts with a specific word or phrase.

In [ ]:
#use the function startswith and 
qr="I am play Football"

vx=qr.startswith('I')

vx

18. Check if a string ends with a specific word or phrase.

In [ ]:
qr="I am play Football"

pr=qr.endswith('o')

pr

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:

xq="hello world"

xq.title()

20. Find the longest word in a string.

In [ ]:
pp="chukua hatua Kaka"

ll=pp.split()

longest=max(ll,key=len)

longest

21. Find the shortest word in a string.

In [ ]:
pp="chukua hatua Kaka"

ll=pp.split()

shotest=min(ll,key=len)

shotest

22. Reverse the order of words in a string.

In [ ]:
string="Bigdata"

string[::-1]

23. Check if a string is alphanumeric.

In [ ]:
string1="Bigdata"

string1.isalnum()

24. Extract all digits from a string.

In [ ]:
dig="2012"

dig.isdigit()

25. Extract all alphabets from a string.

In [ ]:
pig='Digits'

pig.isalpha()

26. Count the number of uppercase letters in a string.

In [ ]:
pw="Piga Kazi Sana"

count=0

for j in pw:
    
    if(j.isupper()):
        count=count+1
print(count)

27. Count the number of lowercase letters in a string.

In [ ]:
pw="Piga Kazi Sana"

count=0

for j in pw:
    
    if(j.islower()):
        
        count=count+1
        
print(count)

28. Swap the case of each character in a string.

In [ ]:
name = 'Mr.Ed'
name.swapcase()

29. Remove a specific word from a string.

In [ ]:
name1 = 'Mr.Ed'

name1.replace('Mr.','')

30. Check if a string is a valid email address.

In [ ]:
import re 
email=input("Enter the email address here :")

const=r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

if re.match(const,email):
    print("Valid email")
    print("The Email is :",email)
    
else:
    print("Not valid email")

31. Extract the username from an email address string.

In [ ]:
email2="ryonyaisara@gmail.com"

username=email2.split('@')[0]

print(username)

32. Extract the domain name from an email address string.

In [ ]:
email2="ryonyaisara@gmail.com"

username=email2.split('@')[1]

print(username)

33. Replace multiple spaces in a string with a single space.

In [ ]:
text = "   Hello, World!   "

trimmed_text = text.strip()

print(trimmed_text)

34. Check if a string is a valid URL.

In [ ]:
url='https://lab.pwskills.com/my-labs'

check=url.startswith('https:')

print(check)

35. Extract the protocol (http or https) from a URL string.

In [ ]:
url='https://lab.pwskills.com/my-labs'

protocal=url.split(':')[0]


print(protocal)

36. Find the frequency of each character in a string.

In [ ]:
word="playing"

word.count('p')

37. Remove all punctuation from a string.

In [ ]:
Punct="Hello,World!"

Punct1=Punct.replace(","," ")
Punct1=Punct.replace("!"," ")

print(Punct1)

38. Check if a string contains only digits.

In [ ]:
xp=input("The string name")

if xp.isdigit():
    
    print("Contains Digits only")
    
else:
    
    print("Not have Digits only ")

39. Check if a string contains only alphabets.

In [ ]:
pw=input("The string name")

if pw.isalpha():
    
    print("Contains Alphabet only")
    
else:
    
    print("Not have Alphabet only ")

40. Convert a string to a list of characters.

In [ ]:
Convert="Libert"

inp=list(Convert)

inp

41. Check if two strings are anagrams.

In [ ]:
str1 = "Race"
str2 = "Care"

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

42. Encode a string using a Caesar cipher.

In [ ]:
shift = 3 # defining the shift count

text = "HELLO WORLD"

encryption = ""

for c in text:

    # check if character is an uppercase letter
    if c.isupper():

        # find the position in 0-25
        c_unicode = ord(c)

        c_index = ord(c) - ord("A")

        # perform the shift
        new_index = (c_index + shift) % 26

        # convert to new character
        new_unicode = new_index + ord("A")

        new_character = chr(new_unicode)

        # append to encrypted string
        encryption = encryption + new_character

    else:

        # since character is not uppercase, leave it as it is
        encryption += c
        
print("Plain text:",text)

print("Encrypted text:",encryption)

43. Decode a Caesar cipher encoded string.

In [ ]:
shift = 3 # defining the shift count

encrypted_text = "KHOOR ZRUOG"

plain_text = ""

for c in encrypted_text:

    # check if character is an uppercase letter
    if c.isupper():

        # find the position in 0-25
        c_unicode = ord(c)

        c_index = ord(c) - ord("A")

        # perform the negative shift
        new_index = (c_index - shift) % 26

        # convert to new character
        new_unicode = new_index + ord("A")

        new_character = chr(new_unicode)

        # append to plain string
        plain_text = plain_text + new_character

    else:

        # since character is not uppercase, leave it as it is
        plain_text += c

print("Encrypted text:",encrypted_text)

print("Decrypted text:",plain_text)

44. Find the most frequent word in a string.

In [ ]:
pp="programs"

#ll=pp.split()

frequency=max(pp,key=pp.count)

frequency

45. Find all unique words in a string.

In [ ]:
vex="Good For Good"

unique=set(vex.split(" "))

unique

46. Count the number of syllables in a string.

In [ ]:
#Input the senetence 
syllables="the sentence "

data=0

for j in syllables:
    if(j=='a' or j=='e' or j=='i' or j=='o' or j=='u'):
        data=data+1
print("The number of syllables are: ",data)

47. Check if a string contains any special characters.

In [ ]:
special_characters = "!@#$%^&*()-+?_=,<>/"
s=input("Enter the string")
# Example: $tackoverflow

if any(c in special_characters for c in s):
    print("yes")
else:
    print("no")

48. Remove the nth word from a string.

In [ ]:
n=int(input("Enter the number nth :"))
word="aabccd"
first=word[:n]
last=word[n+1:]

result=first+last

print(result)

49. Insert a word at the nth position in a string.

In [ ]:
original_string = "Hello, this is a test."
word_to_insert = "awesome "
n = 7
new_string = original_string[:n] + word_to_insert + original_string[n:]

new_string

50. Convert a CSV string to a list of lists.

In [ ]:
x = 'apple,banana,cherry'
output = x.split(',')
print(output)

1.Create a list with integers from 1 to 10.

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
x

2. Find the length of a list without using the `len()` function.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]

count=0
for j in list1:
    
    count+=1
    
length =count

print(length)

3. Append an element to the end of a list.

In [ ]:
#use the append function
list2=[2,4,6,"ryoba"]

list2.append([7,8,9])

print(list2)

4. Insert an element at a specific index in a list.

In [ ]:
#insert function
list3=[2, 4, 6, 'ryoba', [7, 8, 9]]

list3.insert(3,[11,12,13])

print(list3)

5. Remove an element from a list by its value.

In [ ]:
list4=[2, 4, 6, [11, 12, 13], 'ryoba', [7, 8, 9]]

list4.pop()

print(list4)

6. Remove an element from a list by its index.

In [ ]:
list5=[2, 4, 6, [11, 12, 13], 'ryoba']
list5.pop(2)
print(list5)

7. Check if an element exists in a list.

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

if element_to_check in my_list:
    print("Element exists in the list.")
else:
    print("Element does not exist in the list.")

8. Find the index of the first occurrence of an element in a list.

In [ ]:
my_list2 = [1, 2, 3, 4, 5]

my_list3=my_list2.index(1)

print("The indes of the firts occurrence is :",my_list3)

9. Count the occurrences of an element in a list.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 5]

element_to_count = 2

count = my_list.count(element_to_count)

print("Occurrences of", element_to_count, "in the list:", count)

10. Reverse the order of elements in a list.

In [ ]:
mylist = [1, 2, 3, 4, 2, 2, 5]

mylist1=mylist[::-1]

print("The reverse of order elements",mylist1)

11. Sort a list in ascending order.

In [ ]:
List=[5, 2, 2, 4, 3, 2, 1]

List.sort()

print("List in asceding Order",List)

12. Sort a list in descending order.

In [ ]:
List1=[5, 2, 2, 4, 3, 2, 1]

List1.sort(reverse=True)

print("List in asceding Order",List1)

13. Create a list of even numbers from 1 to 20.

In [40]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

print(odd_numbers)

15. Find the sum of all elements in a list.

In [ ]:
my_Sum = [1, 2, 3, 4, 5]

sum_elements= sum(my_Sum)

print("Sum of elements:", sum_elements)

16. Find the maximum value in a list.

In [ ]:
 L=[10,5,20,18,30,56]
    
maximum_value=max(L)

print('The maximum value is :',maximum_value)

17. Find the minimum value in a list.

In [ ]:
L1=[10,5,20,18,30,56]
    
minimum_value=min(L1)

print('The minimum value is :',minimum_value)

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
squares = [x**2 for x in range(1, 11)]

print(squares)

19. Create a list of random numbers.

In [ ]:
seed = 42

num_of_numbers = 10

random_numbers = [(hash(str(seed) + str(i)) % 100) + 1 for i in range(num_of_numbers)]

print(random_numbers)

20. Remove duplicates from a list.

In [ ]:

list_1 = [1, 2, 2, 3, 4, 4, 5, 5]

unique = []

for i in list_1:
    
    if i not in unique:
        unique.append(i)

print(unique)

21. Find the common elements between two lists.

In [1]:
li1 = [1, 2, 3, 4, 5]
li2 = [3, 4, 5, 6, 7]

common_elements = set(li1) & set(li2)

print(list(common_elements))

[3, 4, 5]

22. Find the difference between two lists.

In [3]:
lis1 = [1, 2, 3, 4, 5]
lis2 = [3, 4, 5, 6, 7]

difference = list(set(lis1) - set(lis2)) 
print(difference)

[1, 2]

23. Merge two lists.

In [5]:
lit1 = [1, 2, 3]
lit2 = [4, 5, 6]

lit1.extend(lit2)
print(lit1)

[1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [6]:
original_li = [1, 2, 3, 4, 5]
multiplied_li = []

for i in original_li:
    multiplied_li.append(i * 2)

print(multiplied_li)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [7]:
List_original = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List_filtered = [x for x in List_original if x % 2 != 0]

print(List_filtered)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [8]:
lx = ["1", "2", "3", "4", "5"]

ly = list(map(int, lx))

print(ly)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [9]:
lp = [1, 2, 3, 4, 5]

lq = list(map(str, lp))

print(lq)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [2]:
nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened_list = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]

print(flattened_list)

[1, 2, 3, 4, [5, 6], 7]

29. Create a list of the first 10 Fibonacci numbers.

In [5]:
fibonacci_list = [0, 1]

n=10

for i in range(2, n):
    next_fibonacci = fibonacci_list[i-1] + fibonacci_list[i-2]
    fibonacci_list.append(next_fibonacci)
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [6]:
sorted_list = [1, 2, 3, 4, 5]

for i in range(len(sorted_list) - 1):
    
    if sorted_list[i] > sorted_list[i + 1]:
        
        print("False")
        
print("True")

True

31. Rotate a list to the left by `n` positions.

In [8]:
xw = [1, 2, 3, 4, 5]
n = 2

n = n % len(xw)  # Handle cases where n is larger than the list length

rotated_list = xw[n:] + xw[:n]

print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [9]:
xy = [1, 2, 3, 4, 5]
n = 2

n = n % len(xy)  # Handle cases where n is larger than the list length

rotated_list = xy[-n:] + xy[:-n]

print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [3]:
prime_numbers = [num for num in range(2, 51) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [5]:
lw = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk = 3

chunks = [lw[i:i + chunk] for i in range(0, len(lw), chunk)]
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [7]:
lx=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lx_sorted=sorted(lx,reverse=True)

print("The second largest number is :",lx_sorted[1])

The second largest number is : 9

36. Replace every element in a list with its square.

In [8]:
ln = [1, 2, 3, 4, 5]

#squire each every element in list
sl = [i ** 2 for i in ln]

print(sl)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [9]:
OL = ['a', 'b', 'c', 'd', 'e']
Dict = {value: index for index, value in enumerate(OL)}

print(Dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

38. Shuffle the elements of a list randomly.

In [11]:
import random 

lb = [1, 2, 3, 4, 5]
shuffled_list = lb.copy()  # Make a copy to keep the original list unchanged
random.shuffle(shuffled_list)
print(shuffled_list)

[3, 2, 5, 1, 4]

39. Create a list of the first 10 factorial numbers.

In [15]:
lf = [1]
for i in range(1, 10):
    lf.append(lf[-1] * i)

print(lf)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [16]:
Lg1 = [1, 2, 3, 4, 5]
Lg2 = [4, 5, 6, 7, 8]

common_elements = any(x in Lg1 for x in Lg2)
print(common_elements)

True

41. Remove all elements from a list.

In [17]:
LL = [1, 2, 3, 4, 5]

LL.clear()#Clear function to remove elements
print(LL)

[]

In [18]:
r = [3, -2, 5, -7, 1, -9]
Ul = []

for i in r:
    Ul.append(i if i >= 0 else 0)

print(Ul)

[3, 0, 5, 0, 1, 0]

43. Convert a string into a list of words.

In [19]:
st1 = "Hello, how are you doing today?"
wordList = st1.split()

print(wordList)

['Hello,', 'how', 'are', 'you', 'doing', 'today?']

44. Convert a list of words into a string.

In [20]:
word2 = ['Hello,', 'how', 'are', 'you', 'doing', 'today?']
Sent1 = ' '.join(word2)

print(Sent1)

Hello, how are you doing today?

45. Create a list of the first `n` powers of 2.

In [21]:
n = 5  # Change this to the desired value of n
powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [22]:
strings1 = ["apple", "banana", "cherry", "date", "elderberry"]

longest = max(strings1, key=len)

print("The longest string is:", longest)

The longest string is: elderberry

47. Find the shortest string in a list of strings.

In [23]:
strings2 = ["apple", "banana", "cherry", "date", "elderberry"]

shotest = min(strings1, key=len)

print("The longest string is:", shotest)

The longest string is: date

48. Create a list of the first `n` triangular numbers.

In [24]:
n = 5
triangular_numbers = []
total = 0
for i in range(1, n + 1):
    total += i
    triangular_numbers.append(total)
print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [25]:
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list = [3, 5, 7]

main_idx = 0
sub_idx = 0

while main_idx < len(main_list) and sub_idx < len(sub_list):
    if main_list[main_idx] == sub_list[sub_idx]:
        sub_idx += 1
    main_idx += 1

if sub_idx == len(sub_list):
    print("Sublist is a subsequence of the main list.")
else:
    print("Sublist is not a subsequence of the main list.")

Sublist is a subsequence of the main list.

50. Swap two elements in a list by their indices.

In [26]:
q1 = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

print("Original list:", q1)

# Swap elements
q1[index1], q1[index2] = q1[index2], q1[index1]

print("List after swapping elements:", q1)

Original list: [1, 2, 3, 4, 5]
List after swapping elements: [1, 4, 3, 2, 5]

1. Create a tuple with integers from 1 to 5.

In [27]:
t = (1, 2, 3, 4, 5)
print(t)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [30]:
t1=(1,2,3,4,5)

print(t1[2])

3

3. Find the length of a tuple without using the `len()` function.

In [31]:
t2 = (1, 2, 3, 4, 5)

length = 0
for i in t2:
    length += 1

print("Length of the tuple:", length)

Length of the tuple: 5

4. Count the occurrences of an element in a tuple.

In [32]:

t3 = (1, 2, 2, 3, 4, 2, 5)

element_to_count = 2

count = t3.count(element_to_count)

print("The element", element_to_count, "appears", count, "times in the tuple.")

The element 2 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [33]:
t4 = (1, 2, 2, 3, 4, 2, 5)
element_to_find = 2

index = t4.index(element_to_find)

print("The index of the first occurrence of", element_to_find, "is:", index)

The index of the first occurrence of 2 is: 1

6. Check if an element exists in a tuple.

In [34]:
t5 = (1, 2, 3, 4, 5)
element_to_check = 3

if element_to_check in t5:
    print(element_to_check, "exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

3 exists in the tuple.

7. Convert a tuple to a list.

In [35]:
tt1 = (1, 2, 3, 4, 5)
listtt1 = list(tt1)

print("Tuple:", tt1)
print("List:", listtt1)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [36]:
LL1 = [1, 2, 3, 4, 5]
TT1 = tuple(LL1)

print("List:", LL1)
print("Tuple:", TT1)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [37]:
tuple1 = (1, 2, 3)
a, b, c = tuple1

print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

10. Create a tuple of even numbers from 1 to 10.

In [38]:
even_numbers = (2, 4, 6, 8, 10)
print(even_numbers)

(2, 4, 6, 8, 10)

In [48]:
list1=[]
for x in range(1, 11):
    if x % 2==0:
        list1.append(x)
        
print(tuple(list1))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [2]:
odd_numbers = (1, 3, 5, 7, 9)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [50]:
list1=[]
for x in range(1, 11):
    if x % 2!=0:
        list1.append(x)
        
print(tuple(list1))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [1]:
tup1=(1,2,3,4,5)
tup2=(6,7,8,9,10)

concatenate=tup1+tup2

print("The concatenate tuple are :",concatenate)

The concatenate tuple are : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [4]:
tupl1=(2,4,7)

repeat=tupl1*3

print(" three times Repeated tuple :",repeat)

 three times Repeated tuple : (2, 4, 7, 2, 4, 7, 2, 4, 7)

14. Check if a tuple is empty.

In [5]:
tuple1= ()

if not tuple1:
    print("The tuple is empty")
    
else:
    print("The tuple not empty")

The tuple is empty

15. Create a nested tuple.

In [6]:
nested = ((1, 2), (3, 4), (5, 6))

print(nested)

((1, 2), (3, 4), (5, 6))

16. Access the first element of a nested tuple.

In [7]:
nested1 = ((1, 2), (3, 4), (5, 6))

first_element = nested1[0][0]

print("The first element of the nested tuple:", first_element)

The first element of the nested tuple: 1

17. Create a tuple with a single element.

In [9]:
single_element=(3,)

print("the single_element :",single_element)

the single_element : (3,)

18. Compare two tuples.

In [10]:
tup11 = (1, 2, 3)
tup12 = (1, 2, 4)

if tup11 < tup12:
    print("tup11 is less than tup12")
elif tup11 > tup12:
    print("tup11 is greater than tup12")
else:
    print("tup11 and tup12 are equal")

tup11 is less than tup12

19. Delete a tuple.

In [12]:
tt1=(1,3,5,7)

del tt1

tt1 # not be accessible becuse the tule has been deleted.

NameError: name 'tt1' is not defined

20. Slice a tuple.

In [13]:
my_tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice from index 2 to index 6 (exclusive)
sliced = my_tup[3:8]

print("Sliced Tuple:", sliced)

Sliced Tuple: (4, 5, 6, 7, 8)

21. Find the maximum value in a tuple.

In [14]:
my1 = (12, 45, 8, 24, 56, 37,87,22,11,65)

max_value = max(my1)

print("Maximum value:", max_value)

Maximum value: 87

22. Find the minimum value in a tuple.

In [16]:
my2 = (12, 45, 8, 24, 56, 37,87,22,11,65)

min_value = min(my2)

print("Minimum value:", min_value)

Minimum value: 8

23. Convert a string to a tuple of characters.

In [17]:
let="My string"

tu1=tuple(let)

print("The tuple from sting will be :",tu1)

The tuple from sting will be : ('M', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g')

24. Convert a tuple of characters to a string.

In [19]:
tu2=('M', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g')

string1=''.join(tu2)

print(string1)

My string

25. Create a tuple from multiple data types.

In [20]:
mixed = (1, "hello", 3.14, True)

print(mixed)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [21]:
tu3 = (1, 2, 3)
tu4 = (1, 2, 3)

if tu3 == tu4:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

27. Sort the elements of a tuple.

In [22]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6)

sorted_list = sorted(my_tuple)
sorted_tuple = tuple(sorted_list)

print("sorted_list :",sorted_list)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: [1, 1, 2, 3, 4, 5, 6, 9]
Sorted Tuple: (1, 1, 2, 3, 4, 5, 6, 9)

28. Convert a tuple of integers to a tuple of strings.

In [23]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(map(str, int_tuple))

print("Original Tuple of Integers:", int_tuple)
print("Tuple of Strings:", str_tuple)

Original Tuple of Integers: (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [24]:
str_tuple1 = ('1', '2', '3', '4', '5')
int_tuple = tuple(map(int, str_tuple1))

print("Original Tuple of Strings:", str_tuple1)
print("Tuple of Integers:", int_tuple)

Original Tuple of Strings: ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [25]:
t11 = (1, 2, 3)
t12 = (4, 5, 6)

merged = t11 + t12

print("Merged Tuple:", merged)

Merged Tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [26]:
nested2= ((1, 2), (3, 4, 5), (6, 7))

flat_tuple = tuple(i for x in nested2 for i in x)

print("Flattened Tuple:", flat_tuple)

Flattened Tuple: (1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [27]:
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [29]:
m1 = (1, 2, 3, 2, 1)

is_palindrome = m1[::-1]

if is_palindrome:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [31]:
n = 5 # Number of squares you want to calculate
squares_tuple = tuple(i**2 for i in range(1, n+1))

print("Tuple of squares of numbers:", squares_tuple)

Tuple of squares of numbers: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [32]:
number = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(x for x in number if x % 2 != 0)

print("Filtered Tuple (odd numbers only):", filtered_tuple)

Filtered Tuple (odd numbers only): (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [39]:
number1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Element = tuple(x*2 for x in number1 )

print("Multple of 2 for all elements are :", Element)

Multple of 2 for all elements are : (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [45]:
import random
n=20
random_tuple = tuple(random.randint(1, n+1) for i in range(5))

print("Random Tuple:", sorted(random_tuple))

Random Tuple: [3, 4, 9, 13, 13]

38. Check if a tuple is sorted.

In [47]:
pp1=(2,5,2,9,1,10,6)

sort=sorted(pp1)

if sort:
    print("The tuple sorted",sort)
    
else:
    print("Th tuple not sorted",pp1)

The tuple sorted [1, 2, 2, 5, 6, 9, 10]

39. Rotate a tuple to the left by `n` positions.

In [51]:

MyTuple=(1,2,3,4,5)
n = 2
n = n % len(MyTuple)

RotatedTuple=MyTuple[n:] + MyTuple[:n]

print("The Rotate left tuple is :" , RotatedTuple)

The Rotate left tuple is : (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [52]:
MyTuple=(1,2,3,4,5)
n = 2
n = n % len(MyTuple)

RotatedTuple=MyTuple[-n:] + MyTuple[:-n]

print("The Rotate Right tuple is :" , RotatedTuple)

The Rotate Right tuple is : (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [53]:

Fibon=[0,1]
n = 5
for i in range(2,n):
    
    Fib = Fibon[i - 1] + Fibon[i - 2]
    Fibon.append(Fib)
    
Fibonacci=tuple(Fibon)

print("The Fibonacci tuple :" ,Fibonacci)

The Fibonacci tuple : (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [55]:
user_input = input("Enter elements separated by spaces: ")
user_elements = user_input.split()

user_tuple = tuple(user_elements)

print("User Tuple:", user_tuple)

Enter elements separated by spaces:  3 5 7 8 9

User Tuple: ('3', '5', '7', '8', '9')

43. Swap two elements in a tuple.

In [56]:
MyTuple2 = (1, 2, 3, 4, 5)
index1 = 1  # Index of the first element to swap
index2 = 3  # Index of the second element to swap

# Convert the tuple to a list
tuple_list = list(MyTuple2)

# Swap the elements at the specified indices
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(tuple_list)

print("Swapped Tuple:", swapped_tuple)

Swapped Tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [57]:
mytt = (1, 2, 3, 4, 5)

reverse1 = mytt[::-1]

print("Reversed Tuple:", reverse1)

Reversed Tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [58]:
n = 5  # Number of powers of 2
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Powers of 2 Tuple:", powers_of_2_tuple)

Powers of 2 Tuple: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [59]:
TupleString = ("apple", "banana", "grapefruit", "cherry", "pear")

longest_string = max(TupleString, key=len)

print("Longest String:", longest_string)

Longest String: grapefruit

47. Find the shortest string in a tuple of strings.

In [60]:
TupleString1 = ("apple", "banana", "grapefruit", "cherry", "pear")

shortest_string = min(TupleString, key=len)

print("Longest String:", shortest_string)

Longest String: pear

48. Create a tuple of the first `n` triangular numbers.

In [61]:
n = 5  # Number of triangular numbers
triangular_numbers_tuple = tuple(i * (i + 1) // 2 for i in range(1, n + 1))

print("Triangular Numbers Tuple:", triangular_numbers_tuple)

Triangular Numbers Tuple: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [62]:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 5, 7)

main_idx = 0
sub_idx = 0

while main_idx < len(main_tuple) and sub_idx < len(sub_tuple):
    if main_tuple[main_idx] == sub_tuple[sub_idx]:
        sub_idx += 1
    main_idx += 1

if sub_idx == len(sub_tuple):
    print("Subtuple is a subsequence of the main tuple.")
else:
    print("Subtuple is not a subsequence of the main tuple.")

Subtuple is a subsequence of the main tuple.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [63]:
n = 10  # Length of the tuple
alternating_tuple = tuple(i % 2 for i in range(n))

print("Alternating Tuple:", alternating_tuple)

Alternating Tuple: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

1. Create a set with integers from 1 to 5.

In [64]:
myset = {1, 2, 3, 4, 5}
print(myset)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [65]:
myset1 = {1, 2, 3}
myset1.add(4)

print("Updated Set:", myset1)

Updated Set: {1, 2, 3, 4}

3. Remove an element from a set.

In [68]:
my_set1 = {1, 2, 3, 4, 5}

my_set1.remove(3)

print("Updated Set:", my_set1)

Updated Set: {1, 2, 4, 5}

In [69]:
my_set2 = {1, 2, 3, 4, 5}
element_to_check = 3

if element_to_check in my_set2:
    print("The element exists in the set.")
else:
    print("The element does not exist in the set.")

The element exists in the set.

5. Find the length of a set without using the `len()` function.

In [70]:
my_set = {1, 2, 3, 4, 5}
count = 0

for i in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [71]:
my_set3 = {1, 2, 3, 4, 5}
my_set3.clear()

print("Cleared Set:", my_set3)

Cleared Set: set()

In [72]:
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

print("Set of Even Numbers:", even_numbers_set)

Set of Even Numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [74]:
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

print("Set of Odd Numbers:", odd_numbers_set)

Set of Odd Numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [75]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
# you can use | instead of union
union_set = set1.union(set2)

print("Union Set:", union_set)

Union Set: {1, 2, 3, 4, 5}

10. Find the intersection of two sets.

In [76]:
set3 = {1, 2, 3, 4}
set4 = {3, 4, 5, 6}
#you can use & instead of intersection
intersection_set = set1.intersection(set2)

print("Intersection Set:", intersection_set)

Intersection Set: {3}

11. Find the difference between two sets.

In [77]:
se1 = {1, 2, 3, 4}
se2 = {3, 4, 5, 6}

# you can use also  se1.difference(se2)
difference_set = se1 - se2

print("Difference Set:", difference_set)

Difference Set: {1, 2}

12. Check if a set is a subset of another set.

In [80]:
se2 = {1, 2, 3, 4, 5}
se3 = {2, 3}
 
# you can use also se3 <= se2:
if se3.issubset(se2):
    print("se3 is a subset of se2.")
else:
    print("se3 is not a subset of se2.")

se3 is a subset of se2.

13. Check if a set is a superset of another set.

In [81]:
set2 = {1, 2, 3, 4, 5}
set3 = {2, 3}

# you can laso use set1 >= set2:
if set2.issuperset(set3):
    print("set2 is a superset of set3.")
else:
    print("set2 is not a superset of set3.")

set2 is a superset of set3.

14. Create a set from a list.

In [83]:
mylis1 = [1, 2, 3, 4, 5]
myse1 = set(mylis1)

print("Set:", myse1)

Set: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [84]:
MySet = {1, 2, 3, 4, 5}
MyList = list(MySet)

print("List:", MyList)

List: [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [85]:

my_set11 = {1, 2, 3, 4, 5}
random_element = my_set11.pop()

print("Removed Element:", random_element)

Removed Element: 1

17. Pop an element from a set.

In [89]:

my_set12 = {1, 2, 3, 4, 5}
popped_element = my_set12.pop()

print("Popped Element:", popped_element)

Popped Element: 1

18. Check if two sets have no elements in common.

In [90]:
set11 = {1, 2, 3}
set21 = {4, 5, 6}

if set11.isdisjoint(set21):
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [91]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

#symmetric_difference_set = set1 ^ set2
symmetric_difference_set = set1.symmetric_difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Symmetric Difference Set:", symmetric_difference_set)

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}
Symmetric Difference Set: {1, 2, 5, 6}

20. Update a set with elements from another set.

In [93]:
set12 = {1, 2, 3}
set22 = {3, 4, 5}

#set1 |= set2
set12.update(set22)

print("Updated Set 1:", set12)

Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [94]:
prime_numbers_set = {2, 3, 5, 7, 11}

print("Set of Prime Numbers:", prime_numbers_set)

Set of Prime Numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [95]:
set13 = {1, 2, 3}
set23 = {1, 2, 3}

# set13 is set23:
if set13 == set23:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [96]:

my_set22= {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set22)

print("Frozen Set:", frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [97]:

set14 = {1, 2, 3}
set24 = {4, 5, 6}

if set14.isdisjoint(set24):
    print("The sets are disjoint (have no common elements).")
else:
    print("The sets have common elements.")

The sets are disjoint (have no common elements).

25. Create a set of squares of numbers from 1 to 5.

In [98]:
squares_set = {x ** 2 for x in range(1, 6)}

print("Set of Squares:", squares_set)

Set of Squares: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [99]:
set55 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Filter_even_numbers = {x for x in set55 if x % 2 != 0}

print("Filter out all even numbe:", Filter_even_numbers)

Filter out all even numbe: {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [100]:

original_set = {1, 2, 3, 4, 5}

multiplied_set = {x * 2 for x in original_set}

print("Multiplied Set:", multiplied_set)

Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [101]:
import random

random_numbers_set = {random.randint(1, 100) for i in range(10)}

print("Set of Random Numbers:", random_numbers_set)

Set of Random Numbers: {8, 43, 44, 18, 20, 84, 88, 25, 26, 24}

29. Check if a set is empty.

In [102]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [103]:
nested = {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

print("Nested Set:", nested)

Nested Set: {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

31. Remove an element from a set using the discard method.

In [104]:

Set66 = {1, 2, 3, 4, 5}
element_to_remove = 3

Set66.discard(element_to_remove)

print("Updated Set:", Set66)

Updated Set: {1, 2, 4, 5}

32. Compare two sets.

In [105]:
set15 = {1, 2, 3}
set25 = {3, 2, 1}

if set15 == set25:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33. Create a set from a string.

In [106]:

MyString = "hello"
string_set = {char for char in MyString}

print("Set from String:", string_set)

Set from String: {'o', 'h', 'l', 'e'}

34. Convert a set of strings to a set of integers.

In [107]:
string_set = {"1", "2", "3", "4", "5"}

int_set = {int(element) for element in string_set}

print("Set of Integers:", int_set)

Set of Integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [108]:
int_set = {1, 2, 3, 4, 5}

string_set = {str(element) for element in int_set}

print("Set of Strings:", string_set)

Set of Strings: {'2', '3', '4', '5', '1'}

36. Create a set from a tuple.

In [109]:

my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)

print("Set from Tuple:", tuple_set)

Set from Tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [110]:

my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)

print("Tuple from Set:", set_tuple)

Tuple from Set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [111]:
my_set = {10, 5, 8, 20, 15}

max_value = max(my_set)

print("Maximum Value:", max_value)

Maximum Value: 20

39. Find the minimum value in a set.

In [112]:
my_set22 = {10, 5, 8, 20, 15}

min_value = min(my_set22)

print("Minimum Value:", min_value)

Minimum Value: 5

40. Create a set from user input.

In [113]:
user_input = input("Enter elements separated by spaces: ")
user_list = user_input.split()
user_set = set(user_list)

print("Set from User Input:", user_set)

Enter elements separated by spaces:  4 6 8 9 10 1

Set from User Input: {'10', '8', '4', '6', '1', '9'}

41. Check if the intersection of two sets is empty.

In [114]:
set17 = {1, 2, 3}
set27 = {4, 5, 6}

if set17.isdisjoint(set27):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [115]:
fibonacci_set = set()
a, b = 0, 1
count = 0

while count < 5:
    fibonacci_set.add(a)
    a, b = b, a + b
    count += 1

print("Set of the First 5 Fibonacci Numbers:", fibonacci_set)

Set of the First 5 Fibonacci Numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [116]:
List7 = [1, 2, 2, 3, 4, 4, 5, 5]

unique_list = list(set(List7))

print("List with Duplicates Removed:", unique_list)

List with Duplicates Removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [117]:
set18 = {1, 2, 3}
set28 = {3, 2, 1, 1, 2, 3}

if set18 == set28:
    print("The sets have the same elements, regardless of count.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements, regardless of count.

45. Create a set of the first `n` powers of 2.

In [118]:
n = 5
powers_of_2_set = set()

for i in range(n):
    powers_of_2_set.add(2 ** i)

print(f"Set of the First {n} Powers of 2:", powers_of_2_set)

Set of the First 5 Powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [119]:

my_set2 = {1, 2, 3, 4, 5}
my_list2 = [3, 4, 5, 6, 7]

common_elements = my_set2 & set(my_list2)

print("Common Elements:", common_elements)

Common Elements: {3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [120]:
n = 5
triangular_numbers_set = set()

for i in range(1, n + 1):
    triangular_numbers_set.add(i * (i + 1) // 2)

print(f"Set of the First {n} Triangular Numbers:", triangular_numbers_set)

Set of the First 5 Triangular Numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [122]:
set18 = {1, 2, 3, 4, 5, 6}
set28 = {2, 4, 6}

if set28 <= set18:
    print("set28 is a subset of set18.")
else:
    print("set28 is not a subset of set18.")

set28 is a subset of set18.

49. Create a set of alternating 1s and 0s of length `n`.

In [124]:
n = 5
alternating_set = {i % 2 for i in range(n)}

print(f"Set of Alternating 1s and 0s of Length {n}:", alternating_set)

Set of Alternating 1s and 0s of Length 5: {0, 1}

50. Merge multiple sets into one.

In [ ]:
set19 = {1, 2, 3}
set29 = {3, 4, 5}
set39 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)